/* Buttons */

.button {
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--primary-title-text-color);

    background-color: var(--secondary-bg-color);
    border-style: none;
    border-radius: 4px;
    transition: box-shadow var(--transition-time) var(--cubic-bezier),
        color var(--transition-time) var(--cubic-bezier),
        background-color var(--transition-time) var(--cubic-bezier);
}

.button:hover,
.button:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 3px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.button.primary {
    font-weight: 700;
    letter-spacing: 0.06em;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 3px 1px rgba(0, 0, 0, 0.1);
}

.subscribe .button.primary {
    display: flex;
    align-items: center;
}

.hero .button {
    width: 200px;
    height: 50px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}