/* LOGO */
.logo {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: $accent-color;

    &-studio-color {
        color: #000000;
    }

    &-studio-color.white {
        color: $secondary-title-text-color;
    }

    .header & {
        margin-right: 85px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .footer & {
        display: block;
        margin-bottom: 20px;
    }
}